<div class="jumbotron">
    <div class="container">
        <p class="lead">Success!</p>
        <div class="row">
            <div class="panel panel-default col-lg-8 col-lg-offset-2">
                <div class="panel-body">
                    <div class="row">
                        <i class="icon-ok-sign icon-3x pull-left" style="color:#62c462"></i>

                        <p>Your new collection has been created successfully.</p>
                        <a href="/collections/details/{{collectionId}}" class="btn btn-primary pull-right">View collection details <i
                                class="icon-circle-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

