<li class="dropdown" ng-show="isAuthenticated()" class="logout">
    <a style="margin-top:-70px;" href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-large"></i><b
            class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/settings" ><i class="icon-gear"></i> Settings</a></li>
        <li><a href="http://community.highwire.org/content.php?208-Custom-Collection-Toolkit" target="_blank"><i class="icon-question"></i> Help</a> </li>
        <li><a href="" ng-click="logout()" class="logout"><i class="icon-pencil"></i> Log out</a></li>
    </ul>
</li>